body {
  font-family: "Helvetica Neue", Arial, "Hiragino Sans GB", STHeiti, "Microsoft YaHei", "WenQuanYi Micro Hei", SimSun, Song, sans-serif;
  max-width: 600px;
  margin: 0 auto;
}

.note-content {
  div {
    font-size: 16px;
  }
}